@import 'colors';

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin border-top-radius($radius) {
  -webkit-border-radius: $radius $radius 0 0;
     -moz-border-radius: $radius $radius 0 0;
      -ms-border-radius: $radius $radius 0 0;
          border-radius: $radius $radius 0 0;
}
@mixin border-bottom-radius($radius) {
  -webkit-border-radius: 0 0 $radius $radius;
     -moz-border-radius: 0 0 $radius $radius;
      -ms-border-radius: 0 0 $radius $radius;
          border-radius: 0 0 $radius $radius;
}

html, body{
  height: 100%;
  margin: 0px;
}
body{
  background-color: $base;
  color: $fontbase;
}
input{
  color: #000;
}
.card{
  max-width: 600px;
  table, th, td{
    padding: 5px;
  }
  th{
    white-space: nowrap;
  }
  .graphic{
    width: 192px;
    height: 200px;
    vertical-align: middle;
    text-align: center;
  }
}
.search{
  text-align: center;
  padding: 10px;
}
.typeahead[type="text"]{
  width: 400px;
  line-height: 30px;
  outline: none;
  padding: 5px;
  margin: 0;
  @include border-radius(8px);
}
.typeahead[type="text"]:focus{
  @include border-top-radius(8px);
  margin: 0;
}
.tt-menu {
  width: 400px;
  max-height: 150px;
  overflow-y: auto;
  border: 2px inset;
}
.tt-dataset{
  background-color: $base;
}
.tt-suggestion{
  padding: 3px 20px;
  font-size: 16px;
  line-height: 24px;
}
.tt-suggestion:hover{
  background-color: #0097cf;
}
#tabs{
  margin: 0 auto;
  width: 680px;
  .nav-tabs{
    li{
      a{
        min-width: 0;
      }
    }
    margin: 0;
    border: none;
  }
}
.tabs-left>.nav-tabs>li>a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.tabs-left>.nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}
.tabs-left>.nav-tabs>li>a, .tabs-right>.nav-tabs>li>a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}
.tabs-left>.nav-tabs>li, .tabs-right>.nav-tabs>li {
  float: none;
}
