<div class="row cardblock">
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 image">
    <img src="/cardimages/{{card.image|raw}}" alt="Card Image">
  </div>
  <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 pull-right">
    <table class="card">
      <tr>
        <th>Name</th>
        <td colspan="3">{{card.name|raw}}<br>
          <span class="kana">{{card.kana|raw}}</span>
        </td>
      </tr>
      <tr>
        <th>Expansion</th>
        <td colspan="3">{{card.expansion|raw}}</td>
      </tr>
      <tr>
        <th>Number</th>
        <td>{{card.cardno|raw}}</td>
        <th>Rarity</th>
        <td>{{card.rarity|raw}}</td>
      </tr>
      <tr>
        <th>Type</th>
        <td>{{card.type|raw}}</td>
        <th>Color</th>
        <td>{{card.color|raw}}</td>
      </tr>
      <tr>
        <th>Level</th>
        <td>{{card.level|raw}}</td>
        <th>Cost</th>
        <td>{{card.cost|raw}}</td>
      </tr>
      <tr>
        <th>Power</th>
        <td>{{card.power|raw}}</td>
        <th>Soul</th>
        <td>{{card.soul|raw}}</td>
      </tr>
      <tr>
        <th>Trigger</th>
        <td>
          {% if card.triggers is defined and card.triggers|length > 0 %}
          {% for trigger in card.triggers %}
          <img alt="{{trigger|raw}}" src="/images/{{trigger|raw}}.gif">
          {% endfor %}
          {% endif %}
        </td>
        <th>Side</th>
        <td>{{card.side|raw}}</td>
      </tr>
      <tr>
        <th>Traits</th>
        <td colspan="3">
          {% if card.traits is defined and card.traits|length > 0 %}
          {{card.traits[0]|raw}}
          {% if card.traits|length > 1 %}
          &nbsp;・&nbsp;{{card.traits[1]|raw}}
          {% endif %}
          {% endif %}
        </td>
      </tr>
      <tr>
        <th>Text</th>
        <td colspan="3">{{card.text|raw}}</td>
      </tr>
      <tr>
        <th>Flavor</th>
        <td colspan="3">{{card.flavor|raw}}</td>
      </tr>
    </table>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 cardlink">
    {% for rarity in altrarity %}
      <a href="/card/{{rarity.cardlink|raw}}"><span class="fa fa-asterisk" aria-hidden="true"> {{rarity.cardno|raw}}</span></a><br>
    {% endfor %}
    {% if altcard is defined %}
      <a href="/card/{{altcard|raw}}"><span class="fa fa-files-o" aria-hidden="true"> {% if card.locale == "en" %}JP{% else %}EN{% endif %} Card</span></a>
    {% endif %}
  </div>
</div>
