{% extends "base.html" %}

{% block title %}{{ card.name }}{% endblock %}
{% block head %}
{{ parent() }}
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
      {% include "cardblock.html" %}
  </div>
</div>
</div>
{% endblock %}
{% block scripts %}
{{ parent() }}
<script src="/scripts/jquery.bootstrap.wizard.min.js"></script>
<script>
  $('#tabs').bootstrapWizard({'tabClass': 'nav nav-tabs'});
</script>
{% endblock %}
