<div class="card">
  <table>
    <tr class="image">
      <td class="graphic" rowspan="9"><img src="/cardimages/{image}" alt="Card Image"><br>
      </td>
      <th>Card Name</th>
      <td colspan="3">{name}<br>
        <span class="kana">{kana}</span>
      </td>
    </tr>
    <tr>
      <th>Card No.</th>
      <td>{cardno}</td>
      <th>Rarity</th>
      <td>{rarity}</td>
    </tr>
    <tr>
      <th>Expansion</th>
      <td>{expansion}</td>
      <th>Side</th>
      <td>{side}</td>
    </tr>
    <tr>
      <th>Card Type</th>
      <td>{type}</td>
      <th>Color</th>
      <td>{color}</td>
    </tr>
    <tr>
      <th>Level</th>
      <td>{level}</td>
      <th>Cost</th>
      <td>{cost}</td>
    </tr>
    <tr>
      <th>Power</th>
      <td>{power}</td>
      <th>Soul</th>
      <td>{soul}</td>
    </tr>
    <tr>
      <th>Trigger</th>
      <td>{triggers}[rep:<img src="/images/{elem}.gif">]</td>
      <th>Traits</th>
      <td>{traits}[del:・]</td>
    </tr>
    <tr>
      <th>Text</th>
      <td colspan="3">{text}<br></td>
    </tr>
    <tr>
      <th>Flavor Text</th>
      <td colspan="3">{flavor}<br></td>
    </tr>
  </table>
</div>
