<div class="modal fade" id="loginmodal" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-body">
      <div class="modal-content">
        <div class="container-fluid">
          <div class="row">
            <form method="post">
              <input type="hidden" name="login" value="twitter">
              <button type="submit" class="btn btn-social btn-twitter col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <span class="fa fa-twitter"></span> Sign in with Twitter
              </button>
            </form>
            <form method="post">
              <input type="hidden" name="login" value="google">
              <button type="submit" class="btn btn-social btn-google col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <span class="fa fa-google"></span> Sign in with Google
              </button>
            </form>
          </div>
          <div class="row">
            <form method="post">
              <input type="hidden" name="login" value="facebook">
              <button type="submit" class="btn btn-social btn-facebook col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <span class="fa fa-facebook"></span> Sign in with Facebook
              </button>
            </form>
            <form method="post">
              <input type="hidden" name="login" value="steam">
              <button type="submit" class="btn btn-social btn-steam col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <span class="fa fa-steam"></span> Sign in with Steam
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
